Flask==3.0.0
Flask-Login==0.6.3
Flask-Caching==2.1.0
Werkzeug==3.0.1
gunicorn==21.2.0
yfinance==0.2.40
feedparser==6.0.10
joblib==1.3.2
plotly==5.20.0
matplotlib==3.8.2
SQLAlchemy==2.0.25
numpy==2.1.3
pandas==2.2.3
scikit-learn==1.5.2
textblob==0.17.1   
tensorflow==2.20.0
