Flask==3.0.0
Flask-Login==0.6.3
Flask-Caching==2.1.0
Werkzeug==3.0.1
gunicorn==21.2.0
numpy
pandas
yfinance==0.2.40
feedparser==6.0.10
textblob==0.17.1
scikit-learn==1.3.2
tensorflow==2.15.0
joblib==1.3.2
plotly==5.20.0
matplotlib==3.8.2
SQLAlchemy==2.0.25
